.docker-test-ui-header {
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

div.logging-dialog-body {
    min-width: 400px;
    max-width: 100%;
    min-height: 240px;
    font-family: monospace;
    white-space: pre;
    margin: 0;
}

.docker-test-ui-configuration-form-layout {
    min-width: 400px;
    max-width: 100%;
}

:host div[part="content"] {
    background-color: #f4f4f4;
    scroll-behavior: auto;
}

vaadin-icon[icon="vaadin:play"] {
    color: green;
}

vaadin-icon[icon="vaadin:stop"] {
    color: red;
}